<h1>Lista de Categorias</h1>
<div class="content">
  <div class="filtro">
    Busque pelo nome ou pelo código: <input type="text" [(ngModel)]="termo">
  </div>
  <table>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Cor</th>
      <th>Editar</th>
    </tr>
    <tr *ngFor="let categoria of service.categorias | filtroC: termo; let i = index; trackBy:trackByFn">
      <td class="center">{{categoria.codC}}</td>
      <td>{{categoria.nome}}</td>
      <td [style.background]="categoria.cor"
          [style.color]="isColorLight(categoria.cor) ? '#000' : '#FFF' ">
        {{categoria.cor}}
      </td>
      <td class="center"><button class="alterar" (click)="chamarEditar(categoria, i)">Alterar</button> <button class="remover" (click)="removerCategoria(categoria, i)">Remover</button></td>
    </tr>
  </table>
</div>