/* Paineis residuos */
.lista-residuos { margin-bottom: 10px; }
.lista-residuos div.filtro { margin: 0; padding: 10px; background: #888; float: none; color: #fff; }
.lista-residuos div.filtro input { width: 100%; margin: 0; box-sizing: border-box; }

.lista-residuos div.lista { display: block; width: 100%; text-align: left; border: 1px solid #ccc; box-sizing: border-box; }
.lista-residuos h3 { padding: 15px; font-weight: bold; border-bottom: 2px solid #888; }
.lista-residuos ul { min-height: 300px; max-height: 600px; overflow-y: scroll; }
.lista-residuos ul li { display: block; padding: 10px 0; border-bottom: 1px solid #c4c4c4; }
.lista-residuos ul li input[type="checkbox"] { display: inline; width: 15px; margin: 0; vertical-align: middle; }
.lista-residuos ul li label { display: block; padding: 10px 15px; }

.horarios { margin-top: 10px; }
.horarios li label { display: block; margin-bottom: 5px; }
.horarios li label input[type="checkbox"] { width: auto; }

/* cores dos paineis por categoria */
.papel h3 { background: #2b81ba; color: #fff; }
.plastico h3 { background: #ff2800; color: #fff; }
.vidro h3 { background: #2dfc26; color: #fff; }
.metal h3 { background: #feff3f; color: #fff; }
.madeira h3 { background: #363636; color: #fff; }
.perigosos h3 { background: #ffa012; color: #fff; }
.hospitalar h3 { background: #e8e6d8; color: #fff; }
.radioativo h3 { background: #d41cbb; color: #fff; }
.organico h3 { background: #a0a0a0; color: #fff; }
.nao-reciclavel h3 { background: #e39a46; color: #fff; }