<h1>Lista de Dicas</h1>

<div class="content">
  <div class="filtro">
    Busque pelo nome ou pelo código: <input type="text" [(ngModel)]="termo">
  </div>
  <table align="center">
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Resíduo</th>
      <th>Tipo de dica</th>
      <th>URL da Dica</th>
      <th>Editar</th>
    </tr>
    <tr *ngFor="let dica of this.service.dicas | filtroD: termo; let i=index; trackBy: trackByFn">
      <td class="center">{{dica.codD}}</td>
      <td>{{dica.nome}}</td>
      <td>
        <div *ngIf="dica.residuo != null && dica.residuo.nome != null">{{dica.residuo.nome}}</div>
      </td>
      <td>
        <div *ngIf="dica.isReutilizavel">Reutilização</div>
        <div *ngIf="!dica.isReutilizavel">Descarte</div>
      </td>
      <td class="center">
        <a target="_blank" href="{{dica.descricaoPath}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <rect x="3" y="3" width="18" height="18" rx="2" ry="2"/>
              <circle cx="8.5" cy="8.5" r="1.5"/>
              <polyline points="21 15 16 10 5 21"/>
          </svg>
        </a>
      </td>
      <td class="center" ><button class="alterar" (click)="chamarEditar(dica, i)">Alterar</button> <button class="remover" (click)="deletaDica(dica, i)">Remover</button></td>
    </tr>
  </table>
</div>

