<h1>Lista de Residuos</h1>
<div class="content">
  <div class="filtro">
    Busque pelo nome ou pelo código: <input type="text" [(ngModel)]="termo">
  </div>
  <table>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Categoria</th>
      <th>Imagem do Resíduo</th>
      <th>Editar</th>
    </tr>
    
      <tr *ngFor="let residuo of service.residuos | filtroR: termo; let i=index; trackBy:trackByFn">
        <td class="center">{{residuo.codR}}</td>
        <td>{{residuo.nome}}</td>
        <td>{{residuo.descricao}}</td>
        <td [style.background]="residuo.categoria.cor"
            [style.color]="isColorLight(residuo.categoria.cor) ? '#000' : '#FFF' ">
          {{residuo.categoria.nome}}
        </td>
        <td><div *ngIf="service.imagemResiduoNoCache != undefined && !service.mudandoImg">
            <img src="{{service.imagemResiduoNoCache[i]}}">
        </div></td>

        <td class="center"><button class="alterar" (click)="chamarEditar(residuo, i)">Alterar</button>   <button class="remover" (click)="removerResiduo(residuo, i)">Remover</button></td>

      </tr>
    
  </table>
</div>
