<h1>Editar Dicas</h1>

<div class="content">

  <div class="form-cadastrardica">
    <form class="cadastro" [formGroup]="myForm" novalidate (ngSubmit)="editarDica(myForm)">
      <ul>
        
        <li>
          <label>
            <p>Cód.:</p>
            <input type="text" name="cod" formControlName="codD" required disabled
            [ngModel]="service.dicaEmEditar.codD" (ngModelChange)="editarDicaSetup($event)" />    
          </label>
        </li>
        
        <li *ngIf="residuoService.residuos != undefined" >
          <label>
            <p>Selecione para qual resíduo se destina a dica:</p>
            <select name="Residuo" formControlName="residuo"
              [ngModel]="service.dicaEmEditar.residuo.codR" >
              <option *ngFor="let residuo of residuoService.residuos; trackBy:trackByFn" 
                [ngValue]="residuo.codR" >
                {{residuo.nome}}
              </option> <!-- (ngValue)="residuo" -->
            </select>
          </label>
        </li>
        
        <li>
          <label>
            <p>Titulo da Dica:</p>
            <input type="text" name="nome" formControlName="nome" 
            [ngModel]="service.dicaEmEditar.nome" />    
          </label>
        </li>
        <li>
          <label>
            <p>É dica para descarte ou para reutilização do resíduo?</p>
            <select name="Tipo" formControlName="isReutilizavel" 
             [(ngModel)]="service.dicaEmEditar.isReutilizavel" >
              <option value="false">Descarte</option>
              <option value="true">Reutilização</option>
            </select>
          </label>
        </li>        

        <li>
          <div class="passo" *ngFor="let number of qtdInput; let i=index; trackBy: trackByFn" >
            <div class="title">{{i+1}}<sup>o</sup> Passo</div>
            <ul>
              <li>
                <label>
                  <p>Imagem (faça upload se quiser alterar)</p>
                  <input type="file" class="form-control" (change)="onChange($event, i)" />
                </label>
              </li>
              <li>
                <label>
                  <p>Descrição do Passo-a-Passo</p>
                  <textarea rows="4" cols="50" class="form-control" formControlName="anexos{{i}}" 
                  [ngModel]="anexos[i]" >
                  </textarea>
                </label>
              </li>
            </ul>
          </div>
          <div class="btn_add_del">
            <a (click)="add()" style="cursor: default" class="btn_add">Adicionar Passo +</a>
            <a (click)="del()" style="cursor: default" class="btn_del">Remover Passo -</a>
          </div>
        </li>

      </ul>
      <button type="submit">Salvar Alterações</button>
    </form>

  </div>
</div>