<abas>
      
      <aba abaTitle="Lista de Administradores" abaNome="listar" [title]="listar">
              <app-listarusuario></app-listarusuario>
      </aba>
            
      <aba abaTitle="Cadastrar Administrador" abaNome="cadastrar" [title]="cadastrar">
          <app-cadastrarusuario></app-cadastrarusuario>
    </aba>

      <aba abaTitle="Editar Administrador" abaNome="edit-admin" [title]="editar">
          <app-editarusuario></app-editarusuario>
    </aba>
</abas>
