app-busca {
    position: absolute;
    background-color:#fff;
   
}

app-cadastrarusuario {
    position: relative;
    background-color:#fff;
  
}

app-editarusuario {
    position: relative;
    background-color:#fff;
  
}

app-listarusuario {
    position: relative;
    background-color:#fff;
  
}
