.content { background: #433B2F; position: relative; width: 100%; height: calc(100vh - 75px); }
form.cadastro {color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); vertical-align: middle; padding: 20px 60px;  background: #635C52}
