ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #433B2F;
}

li {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    float: left;
    height: 25px;
    font-size: 18px;
    text-align: center;
    font-style: normal;
}

li:hover{
    background: #698f3f;
}

div.content-wrapper { padding: 30px; }

aba { display: block; border: 1px solid red; }