form.cadastro ul li div.passo {
  position: relative; padding: 55px 20px 20px; background: #635C52; color: #fff;
}

form.cadastro ul li div.passo:nth-child(2n) { background: #A0978A; }
form.cadastro ul li div.passo .title { position: absolute; top: 0; left: 0; width: 100%; padding: 10px 0px; background: rgba(0,0,0,0.2); font-weight: bold; text-align: center; }

form.cadastro ul li div.btn_add_del:after { content: ''; display: table; clear: both; }

form.cadastro ul li div.btn_add_del a { width: 50%; padding: 20px; background: #4D692E; float: left; border-bottom: 3px solid #3A4E23; text-align: center; font-weight: bold; box-sizing: border-box; color: #fff; cursor: pointer; }
form.cadastro ul li div.btn_add_del a:nth-child(1) { box-shadow: inset -1px 0px 0px rgba(0,0,0,.3); }
form.cadastro ul li div.btn_add_del a:nth-child(2) { box-shadow: inset 1px 0px 0px rgba(255,255,255,.3); }

form.cadastro ul li div.btn_add_del a:hover { background: #60823A; }