<h1>Cadastrar Categoria</h1>

<div class="content">
  <div class="form-cadastrarcategoria">
  <form class="cadastro" [formGroup]="categoriaForm" novalidate (ngSubmit)="cadastrarCategoria(categoriaForm.value)">
      <fieldset>
        <ul>
          <li>
            <label>
              <p> Nome da Categoria </p>              
                <input formControlName="nome" [(ngModel)]="categoria.nome" type="text" placeholder="Plástico" required/>
            </label>
            </li>
        <li>
          <label>
            <p> Cor em hexadecimal que representará a categoria</p>
           <input formControlName="cor" [(ngModel)]="categoria.cor" type="text" placeholder="#000000" required>
          </label>
        </li>        
          <button type="submit">Cadastrar</button>
        </ul>
      </fieldset> 
    </form>
  </div>
 <div class="detalhes">   
    <dl>
      <dt>Tabela de Cores Básicas</dt>
      <dd class="vermelho" (click)="corClick('#9E2D25')"> 
        Vermelho #9E2D25 
      </dd>
      <dd class="verde"    (click)="corClick('#698F3F')"> 
        Verde #698F3F 
      </dd>
      <dd class="cinza"    (click)="corClick('#A7A7A7')"> 
        Cinza #A7A7A7 
      </dd>
      <dd class="amarelo"  (click)="corClick('#E8C73C')"> 
        Amarelo #E8C73C 
      </dd>
      <dd class="marrom"   (click)="corClick('#94672E')"> 
        Marrom #94672E
      </dd>
      <dd class="azul"     (click)="corClick('#57AAB5')"> 
        Azul #57AAB5 
      </dd>
      <dd class="preto"    (click)="corClick('#363636')"> 
        Preto #363636 
      </dd> 
      <dd class="laranja"  (click)="corClick('#F7772D')"> 
        Laranja #F7772D
      </dd>
      <dd class="branco"   (click)="corClick('#F9F9F9')"> 
        Branco #F9F9F9 
      </dd>
      <dd class="roxo"     (click)="corClick('#74526C')"> 
        Roxo #74526C 
      </dd>
    </dl>
  </div>

</div>