<header>
	<h1>Re<em>{{"{"}}sys{{"}"}}</em>cla</h1>
</header>

<!-- https://www.npmjs.com/package/angular2-notifications -->
<simple-notifications [options]="toastOptions" ></simple-notifications>

<!-- app-logged></app-logged -->

<!-- esperamos: login.component ou logged.component -->
<router-outlet></router-outlet>