
      <tabs>  
        <!--
        <tab tabTitle="Login" [title]="login">
           <app-login></app-login>
        </tab>
        -->
        <tab (notify)="onNotify($event)" tabTitle="Administradores" tabClass="usuario" [title]="usuario">
          <app-usuarioc></app-usuarioc> 
        </tab>
        <tab (notify)="onNotify($event)" tabTitle="Categoria" tabClass="categoria" [title]="categoria">
          <app-categoria></app-categoria>
        </tab>
        <tab (notify)="onNotify($event)" tabTitle="Resíduos" tabClass="residuo" [title]="residuo">
          <app-residuo></app-residuo> 
        </tab>
        <tab (notify)="onNotify($event)" tabTitle="Dicas" tabClass="tutorial" [title]="tutorial">
          <app-dica></app-dica> 
        </tab>
        <tab (notify)="onNotify($event)" tabTitle="Pontos de Coleta" tabClass="pontocoleta" [title]="pontocoleta">
          <app-pontodecoleta></app-pontodecoleta>
        </tab>
        <tab (notify)="onNotify($event)" tabTitle="Relatórios" tabClass="relatorio" [title]="relatorio">
          <app-relatorio></app-relatorio>
        </tab>
    </tabs>
