
  <abas>  
      <aba abaTitle="Lista de Resíduos" abaNome="list-res" [title]="listar">
        <app-listarresiduo></app-listarresiduo>
      </aba>

      <aba abaTitle="Cadastrar Resíduos" abaNome="cad-res" [title]="cadastrar">
        <app-cadastrarresiduo></app-cadastrarresiduo>
      </aba>

      <aba abaTitle="Editar Resíduos" abaNome="edit-res" [title]="editar">
        <app-editarresiduo></app-editarresiduo>
      </aba>
  </abas>