<h1>
  Lista de Pontos de Coleta
</h1>

<div class="content">
  <div class="wrapper-tabela">
    <div class="filtro">
      Busque por nome ou código: <input type="text" [(ngModel)]="termo">
    </div>
    <table>
      <thead>
        <tr>
          <th class="cod">Código</th>
          <th>Nome</th>
          <th>Editar</th>
          <!--
          <th>Endereço</th>
          <th>Descrição</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th>Horário de atendimento</th>
          <th>Resíduos</th>
          -->
          <!--
          <th>Alterar</th>
          <th>Remover</th>
          -->
        </tr>
      </thead>
      <tr *ngFor="let pontodecoleta of this.pcoService.pontosDeColeta; let i = index; trackBy:trackByFn | filtroP: termo" (click)="determinaPonto(pontodecoleta)">
        <td class="center">{{pontodecoleta.codPC}}</td>
        <td>{{pontodecoleta.nome}}</td>
        <td class="center" ><button class="alterar" (click)="chamarEditar(pontodecoleta, i)">Alterar</button> <button class="remover" (click)="deletaPonto(pontodecoleta, i)">Remover</button></td>
        
        <!--
        <td>{{pontodecoleta.endereco}}</td>
        <td>{{pontodecoleta.descricao}}</td>
        <td>{{pontodecoleta.telefone}}</td>
        <td>{{pontodecoleta.email}}</td>
        <td *ngFor="let dia of pontoHorario">
          {{dia}}
        </td>
        <td>
          <div *ngFor="let residuo of pontodecoleta.residuos">
            {{residuo.nome}}
          </div>
        </td>
        -->
        <!--
          <td><button (click)="updatePontodeColeta(pontodecoleta)">Alterar</button></td>
          <td><button (click)="deletaPontodeColeta(pontodecoleta)">Remover</button></td>
        -->
      </tr>

    </table>
  </div>

  <div class="detalhes">
    <label>
        <p> Detalhes do Ponto de Coleta </p>
    </label>      
    <dl>
      <dt>Descrição</dt>
      <dd><span *ngIf="pontoAtual">{{pontoAtual.descricao}}</span></dd>
      <dt>Telefone</dt>
      <dd><span *ngIf="pontoAtual">{{pontoAtual.telefone}}</span></dd>
      <dt>Email</dt>
      <dd><span *ngIf="pontoAtual">{{pontoAtual.email}}</span></dd>
      <dt>Endereço</dt>
      <dd><span *ngIf="pontoAtual">{{pontoAtual.endereco}}</span></dd>
      <dt>Resíduos Coletados</dt>
      <dd>
        <div *ngIf="pontoAtual">
          <ul *ngFor="let residuo of pontoAtual.residuos ">
            <li *ngIf="residuo">{{residuo.nome}}</li>
          </ul>
        </div>
      </dd>
      <dt>Horários de Atendimento</dt>
      <dd>
        <div *ngIf="pontoAtual">
          <p>{{pcoService.pontoHorario[pontoAtual.codPC]}}</p>
        </div>
      </dd>
    </dl>
  </div>

</div>