<h1> Lista de Administradores </h1>
<div class="content">

  <table class="full-width" align="center">
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Editar</th> 
    </tr>

    <tr *ngFor="let usuario of service.usuarios; let i = index; trackBy: trackByFn">
      <td class="center">{{usuario.codA}}</td>
      <td>{{usuario.nome}}</td>
      <td>{{usuario.email}}</td>
      <td class="center"><button class="alterar" (click)="chamarEditar(usuario, i)">Alterar</button> <button class="remover" (click)="deletaUsuario(usuario)">Remover</button> </td>
    </tr>
  </table>
</div>