<abas>
    <aba abaTitle="Listar Dicas" abaNome="list-dica" [title]="listar">
      <app-listardica></app-listardica>
    </aba>
    <aba abaTitle="Cadastrar Dica" abaNome="cad-dica" [title]="cadastrar">
      <app-cadastrardica></app-cadastrardica>
    </aba>
    <aba abaTitle="Editar Dica" abaNome="edit-dica" [title]="editar">
        <app-editardica></app-editardica>
    </aba>
</abas>
