/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/*
loader
*/
.loader {
	position: absolute;
  	left: 50%;
  	top: 50%;
	margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #60823A; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading{
	color: #698f3f;
}

h1 {
	color: #3A4E23;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* You can add global styles to this file, and also import other style files */
.wrapper {
    width: 100%;
    margin:auto;
}

body {
    min-height: 100%; font-family: 'Open Sans', Calibri, Arial, Helvetica; 
    background-color: #433B2F; 
}

tabs { position: relative; display: block; min-height: calc(100vh - 75px); background: #fff; overflow: hidden;  }

.content-wrapper { padding: 30px;  }
.content-wrapper div h1 { margin-bottom: 15px; font-weight: bold; }

/* estilo geral do conteudo */
.content-wrapper div .content {  font-size: 14px; }
.content-wrapper div .content p { margin-bottom: 8px; }
.content-wrapper div .content *:last-child { margin-bottom: 0; }


/* ----------- tabelas ----------- */
/* filtro */
.filtro { margin-bottom: 10px; float: right; }
.filtro input { margin-left: 4px; padding: 5px 7px; border-radius: 3px; border: 1px solid rgba(86, 118, 52, 0.5); }

/* bordas maneiras */
th { color: #fff; text-shadow: 0px 2px 0px rgba(0,0,0, 0.3) }
table { width: 100%; margin-bottom: 8px; border: 1px solid rgba(67, 92, 41, 0.3); }
table tr th, table tr td { padding: 10px; box-shadow: inset 1px 0px 0px rgba(67, 92, 41, 0.3), inset -1px 0px 0px rgba(86, 118, 52, 0.5); border-bottom: 1px solid rgba(67, 92, 41, 0.3); }
table tr th:first-child { box-shadow: inset -1px 0px 0px rgba(86, 118, 52, 0.5); }
table tr th:last-child { box-shadow: inset 1px 0px 0px rgba(67, 92, 41, 0.3); }

table tr th { background: rgba(159, 183, 132, 0.8);  font-weight: bold; }

/* alterna as cores */
table tr:nth-child(2n+1) td { background: #F9F9F9;  }

/* centraliza o texto*/
table tr td { vertical-align: middle; }
table tr td.center { text-align: center; }

/* ----------- forms ---------------- */

form.cadastro {
	max-width: 500px;
	margin:  0 auto;
}

.advInput {
	color: grey;
}

form.cadastro fieldset { border: none; }

form.cadastro ul { margin-bottom: 10px;  }
form.cadastro ul:after { content: ''; display: table; clear: both; }
form.cadastro ul li { display: block; width: 100%; margin-bottom: 10px; float: left; }
form.cadastro ul li p { margin-bottom: 6px; }
form.cadastro ul li input,
form.cadastro ul li select,
form.cadastro ul li textarea { width: 100%; padding: 8px 15px; border-radius: 3px; border: 1px solid #BAB7B3; box-sizing: border-box; }
form.cadastro button { position: relative; display: block; min-width: 300px; padding: 10px 20px; margin: 0 auto 10px; background: #698f3f; text-align: center; font-style: normal; text-transform: uppercase; color: #FFF; border: 1px solid #60823A; border-width: 1px 1px 3px; border-radius: 3px; cursor: pointer;}
form.cadastro button:hover { background: #769950; }
/* form.cadastro button:disabled { background: grey; border: 1px solid #FFF}*/

form.cadastro ul li textarea { max-width: 500px; height: 150px; font-family: 'Open Sans',Verdana, Arial, sans-serif; }

table button { display: inline-block; width: 105px; border: 0; padding: 10px 10px 10px 40px; text-align: center; color: #fff; border-radius: 5px; }
table button.alterar { background: #60823A url('assets/images/btn-editar.svg') no-repeat 10px center; }
table button.remover { background: #A00000 url('assets/images/btn-remover.svg') no-repeat 10px center; }

