<abas>
      <aba abaTitle="Lista de Categorias" abaNome="list-cat" [title]="listaCategoria">
          <app-listarcategoria></app-listarcategoria>
      </aba>
      <aba abaTitle="Cadastrar Categoria" abaNome="cad-cat" [title]="cadastraCategoria">
          <app-cadastrarcategoria></app-cadastrarcategoria>
      </aba>
      <aba abaTitle="Editar Categoria" abaNome="edit-cat" [title]="editaCategoria">
          <app-editarcategoria></app-editarcategoria>
      </aba>
  </abas> 